.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-header {
    animation: breathing-color infinite 15s linear;
  }
}

.App-header {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes breathing-color {
  from {
    background-color: white;
  }
  50% {
    background-color: rgb(13, 171, 239);
  }
  to {
    background-color: white;
  }
}
